.mail {
    padding: 10rem 1.5rem;
    background-color: #ffffff;
    text-align: center;
}
.mail__logo {
    margin: 0 auto 3.5rem;
}
.mail__text {
    font-size: 2.4rem;
    font-style: italic;
    color: var(--text);
    margin-bottom: 3.5rem;
    display: inline-block;
}
.mail__form {
    display: flex;
    justify-content: space-between;
    max-width: 54rem;
    margin: 0 auto;
}
.mail__form-inp {
    border: 1px solid var(--input-border);
    color: var(--input-text);
    padding: 2.5rem;
    font-style: italic;
    font-size: 2rem;
    width: 74%;
}
.mail__form-btn {
    width: 25%;
    border: 0;
    outline: none;
    color: #fff;
    background-color: var(--primary);
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 300;
}