.footer {
    background-color: var(--bg-block);
    padding: 9rem 0;
}
.footer .container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.footer__logo {
    max-width: 12rem;
    margin: 0 auto 4rem;
}
/*Tái sử dụng lại cái menu ở phần header*/

.footer .menu {
    margin-left: 0; /* sua lai moi cai nay*/
}
.footer__social {
    margin: 4.5rem 0;
    display: flex;
    align-items: center;
}
.footer__social-item {
    font-size: 2rem;
    color: var(--gray-dark);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
    transition: color 0.2s linear;
}
.footer__social-item:hover {
    color: var(--primary-color);
}
.footer__social-item:not(:first-child) {
    border-left: 1px solid var(--gray-light);
}

.copyright p{
    text-transform: uppercase;
    color: var(--gray-light);
}
.fa-copyright{
    display: inline;
    color:var(--gray-light);
}
.copyright a {
    display: inline;
    color: var(--primary-color);
}




