.team{
    padding-top: 14rem;
    padding-bottom: 20rem;
    background-color: #fff;
}
.team__list{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.team__item{
    width: calc(33.33% - 2rem);
    position: relative;
}
@media screen and (max-width: 767px){
    .team__item{
        width: 100%;
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 767px){
    .team__item img{
        width: 100%;
        object-fit: cover;
    }
}
.team__info{
    background-color: #fff;
    padding: 3.5rem 4.5rem 2.5rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 3rem;
    right: 3rem;
    transform: translateY(70%); /*translate block info*/
    transition: transform 0.2s linear;
}
@media screen and (max-width: 767px){
    .team__info{
        bottom: 3rem;
        transform: translateY(0);
    }
}
.team__item:hover .team__info{
    transform: translateY(25%);
    box-shadow: 0 4px 4px 4px#7a7e85;
}
@media screen and (max-width: 767px){
    .team__item:hover .team__info{
        transform: none;
    }
}

.team__name{
    font-family: var(--secondary-font);
    font-size: 2.2rem;
    margin-bottom: 1rem;
}.tean__job{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray-light);
}
.team__social{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    /* Ẩn social */
    opacity: 0;
    visibility: hidden;
    transition: 0.2s linear;
}
.team__item:hover .team__social{
    opacity: 1;
    visibility: visible;
}
@media screen and (max-width: 767px){
    .team__social{
        opacity: 1;
        visibility: visible;
    }
}
.team__social li{
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    margin: 0 7.5px;
    flex-shrink: 0; /*giúp giữ nguyên độ rộng khi container giảm*/
}
.team__social a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-dark);
    border: 1px solid;
    border-radius: inherit;
    transition: 0.2s linear;
}
.team__social a:hover{
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}